.hide{
display: none;
}
.show{
    display: block;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.photo-card{
    overflow: hidden;
    width: 320px;
    height: 320px;
    /* gap: 20px; */
    
}
 .photo-card img{
    height: 200px; 
    width: 300px;
    border-radius: 6px;
    margin-top: 30px;
   
}

.search-form{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
    
    height: 30px;
    
}
.load-more{
    margin-left: 670px;
    margin-top: 40px;
    margin-bottom: 30px;
    
}

.info-item {
    display: flex;
    margin: 0; 
    margin-left: 10px;
    margin-top: 4px;

} 
.submit{
    border-radius: 6px;
    background-color: yellowgreen;
    
}
.input{
    background-color: whitesmoke;
    width: 350px;
    border-radius: 6px;
    border-color: blueviolet;
    margin-right: 5px;
}
body{
    background-color: rgba(178, 182, 149, 0.887);
}