.hide{
display: none;
}
.show{
    display: block;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
}
.photo-card{
    overflow: hidden;
    width: 300px;
    height: 300px;
}
.photo-card img{
    height: 150px;


}
.photo-card a {
   overflow: hidden;
    width: 100%;

}